.dashboard {
  display: flex;
  width: 100%;

  .panel {
    width: 10%;
    height: 100vh;
    box-shadow: -6px -4px 7px 5px #000;

    ul {
      padding: 0;
      text-align: center;
      list-style: none;

      a {
        color: #fff;

        li {
          margin: 25% 0;

          i {
            font-size: 2.5em;
          }
        }
      }
    }
  }

  .view {
    width: 90%;

    .user-nav {
      position: relative;
      margin-bottom: 5%;
      height: 10vh;

      .logout {
        position: absolute;
        right: 0;
        margin: .5%;
        width: 10%;
        text-align: right;

        i {
          font-size: 2.5em;
          cursor: pointer;
          transition: .5s;

          &:hover {
            transform: scale(1.2);
          }
        }

        .modal {
          padding: 10% 3%;
          margin: 0 10% 0 0;
          background-color: #133648;
          text-align: center;
          box-shadow: 0px 1px 8px 0px #000;
          cursor: pointer;

          span {
            color: #fff;
            font-weight: 600;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      .card {
        margin: 1%;
        flex-basis: 22%;
        height: 215px;
        text-align: center;
        background: #293948;
        border-radius: 2%;
        box-shadow: 1px 1px 10px -5px;

        &.calendar {
          flex-basis: 44%;
        }

        h2 {
          color: #fff;

          &.date {
            margin: 10% 0 0 0;
            font-weight: 300;
          }
        }

        a {
          display: block;
          height: 100%;
          text-decoration: none;
        }

        &.customers {
          background: #7bc901;
        }

        &.users {
          background: linear-gradient(#a536f3, #7d72fc);
        }

        &.orders {
          background: #6dbcdc;
        }

        &.customers,
        &.users,
        &.orders {
          cursor: pointer;
          transition: .3s;

          &:hover {
            transform: scale(1.1);
          }
        }

        i {
          margin: 3% 0;
          font-size: 3em;
        }
      }
    }
  }
}
