<section class="banner">
  <div class="back">
    <a href="">
      <i class="material-icons">keyboard_backspace</i>
      <h3>Dashboard</h3>
    </a>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a (click)="moveDown($event)">O mnie</a></li>
      <li><a (click)="moveDown($event)">Projekty</a></li>
    </ul>
  </nav>

  <div class="header">
    <h1>Sebastian <span>Śliwiński</span></h1>
    <h3>Front-end Developer (Angular)</h3>
  </div>
</section>

<section class="about-me">
  <div class="section-header">
    <h3>Kilka słów o mnie</h3>
    <div class="description" data-aos="fade-right" data-aos-duration="2000">
      <img src="/assets/img/me2.png" alt="">
      <div class="-content">
        <ul>
        <li>Sebastian Śliwiński</li>
        <li>22 lata</li>
        <li>sxsliwinski@gmail.com</li>
      </ul>
      <p>Swoją przygodę z Front-Endem rozpocząłem w technikum informatycznym gdzie nauczyłem się podstaw witryn internetowych.
        Po ukończeniu szkoły zostałem samoukiem i rozwijałem się w tej dziedzinie samodzielnie, aby móc się reazlizować zawodowo
        i znaleźć swoją pierwszą prace w IT.
      </p>
      <p>Od pięciu miesięcy pracuje jako Front-End Developer, zaczynałem w projektach jednowarstwowych AngularJS + Python(django),
        lecz w końcu ewoluowało to w dwuwarstwowe aplikacje Angular 7 + Django
      </p>
      </div>
    </div>
  </div>
</section>

<section class="projects">
  <div class="project">
    <a routerLink="/dashboard">
      <img src="/assets/img/Project/dashboard-min.png" alt="">
    </a>
  </div>
  <div class="project">
    <a href="https://sebastsliwin.github.io/bootstrap_strona/">
      <img src="/assets/img/Project/bootstrap-min.png" alt="">
    </a>
  </div>
  <div class="project">
    <a href="https://sebastsliwin.github.io/tork_website/">
      <img src="/assets/img/Project/tork-min.png" alt="">
    </a>
  </div>
  <div class="project">
    <a href="https://sebastsliwin.github.io/portfolio/">
      <img src="/assets/img/Project/portfolio-min.png" alt="">
    </a>
  </div>
  <div class="project">
    <a href="https://sebastsliwin.github.io/Escape-website/">
      <img src="/assets/img/Project/escape-min.png" alt="">
    </a>
  </div>
  <div class="project">
    <a href="https://sebastsliwin.github.io/O-take-website/">
      <img src="/assets/img/Project/otake-min.png" alt="">
    </a>
  </div>
  <div class="project">
    <a href="https://sebastsliwin.github.io/papier_kamien/">
      <img src="/assets/img/Project/tpt-min.png" alt="">
    </a>
  </div>

  <div class="description" data-aos="fade-left" data-aos-duration="1500">
    <p>Wszystkie projekty zostały zrealizowane hobbystycznie <span>HTML/CSS/JS</span> w ciągu ostatniego roku. Projekt <span>Dashboard</span> został wykonany
    specjalnie dla Państwa w <span>Angularze</span>, w którym pracuje na co dzień.</p>
  </div>

  <div class="technologies">
    <img src="/assets/img/technologies/angular.png" class="angular" alt="Angular">
    <img src="/assets/img/technologies/javascript.png" alt="JavaScript">
    <img src="/assets/img/technologies/git.png" alt="GIT">
    <img src="/assets/img/technologies/sass.png" alt="SASS">
    <img src="/assets/img/technologies/html.png" alt="HTML5">
    <img src="/assets/img/technologies/css.png" alt="CSS3">
    <img src="/assets/img/technologies/bootstrap.png" alt="Bootstrap">
    <img src="/assets/img/technologies/django.png" alt="Django">
  </div>
</section>
